# Do not delete any of the variables in this file. If you do not want an
# specific configuration, set the value of that variable to "null".
#
# REPOSITORY
# ##############################################################################
#
# Mandatory: <string>
# Repository name. Avoid using the name of a pre-existing folder in the
# execution path. Also, avoid repeting the name of a repository that already
# exists in the remote version control system - for the given REPOSITORY.OWNER.
REPO=<repo-name>
# Mandatory: <string>
# Repository owner. Can also be an organization. If REPOSITORY.REMOTE is active,
# it will be the user/organization where the repository will be created.
OWNER=<username>
# Optional: <string>
# Chosen license for the repository. You can choose among the following licenses:
# https://github.com/licenses/license-templates/tree/master/templates
# NOTE: Leave empty to unset. This will se the repository's license to
# unlicense.
LICENSE="agpl3"
# Optiona: <boolean>
# Push locally created repository to remote server.
REMOTE=true

# TECHNOLOGIES
# ##############################################################################
# This section contains configuration options about the technologies of the
# repository, control dependencies updates; among others.
#
# Optional: <string>
# Technology used in the repository:
# - Rust
# NOTE: Leave empty string to unset.
MAIN_TECH="Rust"

# REMOTE CHARACTERISTICS
# ##############################################################################
# This section contains all tokens and authentication methods needed to execute
# this script.
#
# Mandatory: <string>
#            Only if REPOSITORY.REMOTE is active.
# Personal authentication token for GitHub. Must have create permissions and
# belong to the user/organization where the repository is going to be created.
TOKEN=<auth-token>
# Optional: <boolean>
#           If REPOSITORY.REMOTE is active, by default will be set to true.
# Repository visibility.
MAKE_PRIVATE=true
# Optional: <boolean>
# Activate Dependabot to keep dependencies secure and up to date.
DEPENDENCIES=true
# Optional: <string>
#           Mandatory if DEPENDENCIES is active.
# How often should dependabot check for updates.
# - daily
# - weekly
# - monthly
DEPENDENCIES_INTERVAL="daily"
# Optional:  <boolean>
# Force collaboration through PRs. This disables pushing content to master branch.
PR=false
